{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">

        <h5 class="card-title">{{ object.first_name }} {{ object.sur_name }}</h5>
        <p class="card-text">{{ object.comment }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Email {{ object.email }}</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        {% if not user.is_manager %}
        <a href="{% url 'recipients:update_client' object.pk %}" class="card-link">Редактировать</a>
        <a href="{% url 'recipients:delete_client' object.pk %}" class="card-link">Удалить</a>
        {% endif %}
    </div>
</div>
{% endblock %}