{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for object in object_list %}
    <div class="col">
        <a href="{% url 'blog:read_post' object.pk %}" class="card h-100">
            <img src="/media/{{ object.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Автор: {{ object.user }}, {{ object.views_count }} просмотров</small>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
