{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-4 mb-3">
        <a class="p-2 btn btn-outline-primary" href="/new_post/">Новая публикация</a>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for object in object_list %}
    <div class="col">
        <a href="{% url 'blog:read_post' object.pk %}" class="card h-100">
            <img src="/media/{{ object.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text"><small class="text-body-secondary">Просмотры: {{ object.views_count }}</small></p>
                <p class="card-text"><small class="text-body-secondary">{{ object.published_sign }}</small></p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
    {% endblock %}