<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-warning border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Меню</h5>
    <nav class="col-8 ms-5">
        <a class="p-2 btn btn-outline-primary" href="/">Главная</a>
        <a class="p-2 btn btn-outline-primary" href="/">Блог</a>
    </nav>

    <nav class="col-6">
        {% if user.is_authenticated %}
        <div class="btn-group" role="group" align="right">
            <a class="p-2 btn btn-outline-primary" href="{% url 'newsletterapp:newsletters_list' 'all' %}">Мои
                рассылки</a>
            <a class="p-2 btn btn-outline-primary" href="/clients/">Мои получатели</a>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {{ user.username }}
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Мой аккаунт</a></li>
                    <li><a class="dropdown-item" href="{% url 'newsletter:history' 0 %}">История отправлений</a></li>
                    <li><a class="dropdown-item" href="/logout/">Выйти</a></li>
                </ul>
            </div>
        </div>
        {% else %}
        <div class="btn-group" role="group" align="right">
            <a class="p-2 btn btn-outline-primary" href="/new_user/">Регистрация</a>
            <a class="p-2 btn btn-outline-primary" href="/login/">Войти</a>
        </div>
        {% endif %}
    </nav>
</div>