{% extends 'base.html' %}

{% block content %}

<div class="row mb-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Статус</th>
            <th scope="col">Дата отправки</th>
            <th scope="col">Время отправки</th>
            <th scope="col">Ответ почтового сервера</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <th scope="row">{{ object.status }}</th>
            <td>{{ object.send_date }}</td>
            <td>{{ object.send_time }}</td>
            <td>@{{ object.server_answer }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}