{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% if user.is_manager and object.user != user %}
    <div class="col-6">
        <form method="post">
            {% csrf_token %}
            {% if object.status %}
            <button type="submit" class="p-2 btn btn-danger mb-3">Отключить</button>
            {% else %}
            <button type="submit" class="p-2 btn btn-success mb-3">Включить</button>
            {% endif %}
        </form>
    </div>

    <div class="col-6" align="right">
        {% if object.user.is_active %}
        <a class="p-2 btn btn-danger mb-3" href="{% url 'users:user_block' object.pk %}">Заблокировать пользователя</a>
        {% else %}
        <a class="p-2 btn btn-success mb-3" href="{% url 'users:user_block' object.pk %}">Разблокировать пользователя</a>
        {% endif %}
    </div>

    {% else %}
    <div class="col-9">
        <div class="btn-group" role="group" aria-label="Vertical button group">
            <a href="{% url 'newsletterapp:newsletter_update' object.pk %}"
               class="p-2 btn btn-primary mb-3">Редактировать</a>
            <a href="{% url 'newsletterapp:history' object.pk %}" class="p-2 btn btn-primary mb-3">Посмотреть
                историю</a>
            <a href="#" class="p-2 btn btn-primary mb-3">Настроить получателей</a>
            <a href="{% url 'newsletterapp:confirm_send' object.pk %}" class="p-2 btn btn-primary mb-3">Разослать
                сейчас</a>

        </div>
    </div>
    <div class="col-3" align="right">
        <a href="{% url 'newsletterapp:newsletter_delete' object.pk %}" class="p-2 btn btn-danger mb-3">Удалить</a>
    </div>
    {% endif %}
</div>
<div class="card">
    <div class="row g-0">
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">Тема: {{ object.topic }}</h5>
                <h5 class="text">Сообщение:</h5>
                <p class="card-text">{{ object.content }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Дата создания: {{ object.created_at }}</li>
                <li class="list-group-item">Время отправки: {{ object.send_time }}</li>
                <li class="list-group-item">Следующяя отправка: {{ object.next_send_day }}</li>
                <li class="list-group-item">Последняя отправка: {{ object.last_send_date }}</li>
                <li class="list-group-item">Периодичность: {{ object.periodicity }}</li>
                <li class="list-group-item">Статус: {{ object.status }}</li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}